<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUDAPP2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>test</param-name>
    <param-value>Java</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>InsertStudentServlet</display-name>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/InsertStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudentServlet</display-name>
    <servlet-name>ListStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentServlet</servlet-name>
    <url-pattern>/ListStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletStudentServlet</display-name>
    <servlet-name>DeletStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.DeletStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletStudentServlet</servlet-name>
    <url-pattern>/DeletStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlete</display-name>
    <servlet-name>UpdateStudentServlete</servlet-name>
    <servlet-class>com.royal.controller.UpdateStudentServlete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlete</servlet-name>
    <url-pattern>/UpdateStudentServlete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.royal.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <servlet-name>test</servlet-name>
    <jsp-file>/testimplobj.jsp</jsp-file>
    <init-param>
      <param-name>lang1</param-name>
      <param-value>C lang</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.royal.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.royal.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>